/* mobile devices under 600px */

body {
  padding: 10px;
}

div#main {
  display: flex;
  gap: 30px;
  flex-flow: column;
}

div#main > div {
  flex: 1;
}

/* tablet and desktop devices over 600px */

@media only screen and (min-width: 600px) {
  body {
    padding: 50px;
  }

  div#main {
    flex-flow: row;
  }
}
