<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>layout</title>
  </head>
  <body>
    <h1>layout</h1>
    <ul>
      <li><a href="/src/css-box/">css-box</a></li>
      <li><a href="/src/boxmodel/">boxmodel</a></li>
      <li><a href="/src/fixed/">fixed</a></li>
      <li><a href="/src/centre/">centre</a></li>
      <li><a href="/src/wrap/">wrap</a></li>
      <li><a href="/src/fill/">fill</a></li>
      <li><a href="/src/todo/">todo</a></li>
    </ul>
</html>
