/* styles for main app container */

div#app {
  display: flex;
  justify-content: center;
  background: whitesmoke;
  height: 100vh;
}

div#main {
  margin: 50px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 50px;
}

